* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  --c-main: rgb(101, 101, 101);
  --c-secondary: rgba(59, 156, 205, 0.801);
}
.nav-link,
footer a {
  margin: 1rem;
  text-decoration: none;
  color: var(--c-secondary);

  padding: 0.5rem;
  font-size: 150%;
}
footer {
  background-color: var(--c-main);
  align-content: center;
  height: 4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.active {
  border-bottom: solid var(--c-secondary);
}

#nav {
  display: flex;
  background-color: var(--c-main);
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
#nameTitle {
  font-size: 300%;
  color: var(--c-main);
  background-color: var(--c-secondary);
  padding-left: 4rem;
  padding-right: 1rem;
  width: 100%;
  text-align: center;
}

#navBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 2rem;
}

#hero-image {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(
      rgba(25, 65, 140, 0.25),
      rgba(25, 65, 140, 0.25)
    ),
    url("/public/images/pano-image.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

#hero-text {
  margin: 1rem;
  font-size: 200%;
  color: var(--c-secondary);
  background-color: var(--c-main);
  text-align: center;
  padding: 1rem;
}

a:hover,
Link:hover {
  background-color: var(--c-secondary);
  color: var(--c-main);
}

@media screen and (min-width: 993px) {
  #nav,
  #about,
  #work,
  footer {
    flex-direction: row;
    height: 5rem;
  }
}
@media screen and (min-width: 993px) {
  #nameTitle {
    flex: 0 0 400px;
  }
}

@media screen and (min-width: 769px) {
  #hero-image {
    justify-content: right;
  }
}
@media screen and (min-width: 769px) {
  #hero-text {
    margin-right: 2rem;
  }
}
